<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand" routerLink="/">
      <span style="color:white">Klinički Centar Bajić</span>
    </a>
    <img src="./assets/params/images/logo/cardiogram.png" width="20" height="20" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">
            <i class="fas fa-home mr-1"></i> Početna
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/profile">
            <i class="fas fa-user mr-1"></i> Profil
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">
            <i class="far fa-question-circle mr-1"></i> Informacije
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact">
            <i class="fas fa-envelope mr-1"></i> Kontakt
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>
