<div class="container">
  <form class="form-horizontal" role="form">
    <h2>Registracija</h2>
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">Ime</label>
      <div class="col-sm-9">
        <input type="text" id="firstName" placeholder="Ime" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Prezime</label>
      <div class="col-sm-9">
        <input type="text" id="lastName" placeholder="Prezime" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email* </label>
      <div class="col-sm-9">
        <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Lozinka*</label>
      <div class="col-sm-9">
        <input type="password" id="password" placeholder="Lozinka" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Potvrda lozinke*</label>
      <div class="col-sm-9">
        <input type="password" id="passwordConfirm" placeholder="Lozinka" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="col-sm-3 control-label">Kontakt telefon </label>
      <div class="col-sm-9">
        <input type="phoneNumber" id="phoneNumber" placeholder="Kontakt telefon" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Adresa</label>
      <div class="col-sm-9">
        <input type="text" id="adresa" placeholder="Adresa" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Grad</label>
      <div class="col-sm-9">
        <input type="text" id="grad" placeholder="Grad" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Drzava</label>
      <div class="col-sm-9">
        <input type="text" id="drzava" placeholder="Drzava" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">JBO</label>
      <div class="col-sm-9">
        <input type="text" id="jbo" placeholder="JBO" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <span class="help-block">*Obavezna polja</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <a routerLink=""> Već ste registrovani? Ulogujte se. </a>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Registruj se</button>
  </form> <!-- /form -->
</div> <!-- ./container -->
