<div class="container">
  <form name="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal" role="form">
    <h2>Registracija</h2>
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">Ime</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="pacijent.ime" id="firstName" placeholder="Ime" name="ime" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Prezime</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="pacijent.prezime" id="lastName" placeholder="Prezime" name="prezime" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email* </label>
      <div class="col-sm-9">
        <input type="email" id="email" [(ngModel)]="pacijent.email" placeholder="Email" class="form-control" name= "email">
      </div>
    </div>
    <div class="form-group">
      <label w class="col-sm-3 control-label">Lozinka*</label>
      <div class="col-sm-9">
        <input type="password" [(ngModel)]="pacijent.lozinka" id="password" name="password" placeholder="Lozinka" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Potvrda lozinke*</label>
      <div class="col-sm-9">
        <input type="password" id="passwordConfirm" placeholder="Lozinka" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="col-sm-3 control-label">Kontakt telefon </label>
      <div class="col-sm-9">
        <input type="phoneNumber" [(ngModel)]="pacijent.kontaktTelefon" id="phoneNumber" placeholder="Kontakt telefon" name="kontaktTelefon" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Adresa</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="pacijent.adresa" id="adresa" placeholder="Adresa" name="adresa" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Grad</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="pacijent.grad" id="grad" placeholder="Grad" name="grad" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Drzava</label>
      <div class="col-sm-9">
        <input type="text" id="drzava" [(ngModel)]="pacijent.drzava"placeholder="Drzava" name="drzava" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">JBO</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="pacijent.jbo" id="jbo" placeholder="JBO" name="jbo" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <span class="help-block">*Obavezna polja</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <a routerLink=""> Već ste registrovani? Ulogujte se. </a>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Registruj se</button>
  </form> <!-- /form -->
</div> <!-- ./container -->
