
<div class="mat-elevation-z8 data-table">
  <span>
      <button mat-raised-button (click)="openDialog()">Dodaj lekara</button>
  </span>
  <table mat-table class="full-width-table" matSort aria-label="Lekari">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime</th>
      <td mat-cell *matCellDef="let row">{{row.ime}}</td>
    </ng-container>

    <!-- Prezime Column -->
    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</th>
      <td mat-cell *matCellDef="let row">{{row.prezime}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Akcije</th>
      <td mat-cell *matCellDef="let row"><button mat-raised-button class = "delete-button" (click)="obrisi(row.id)">Obrisi</button></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="20"
                 [pageSizeOptions]="[20, 50, 100]">
  </mat-paginator>
</div>
