<div class="container">
    <div class="row m-y-2">
        <div class="col-lg-10 push-lg-4">
            <ul class="nav nav-tabs">
            
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profil</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Izmeni profil</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#zdravstveniKarton" data-toggle="tab" class="nav-link">Zdravstveni karton</a>
                </li>
            </ul>
                
            
            <div class="tab-content p-b-3">
                
                <div class="tab-pane active" id="profile">
                    <table class="table table-hover table-striped" >
                        <tbody>    
                            <!-- <tr> -->
                                <!-- <div class="col-lg-4 pull-lg-8 text-xs-center"> -->
                                    <!-- <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar"> -->
                                    <!-- <h6 class="m-t-2">Upload a different photo</h6> -->
                                    <!-- <label class="custom-file"> -->
                                        <!-- <input type="file" id="file" class="custom-file-input"> -->
                                        <!-- <span class="custom-file-control">Choose file</span> -->
                                    <!-- </label> -->
                                <!-- </div> -->
                            <!-- </tr> -->
                            <tr>
                                <td>
                                    <strong>Id</strong> 
                                </td>
                                <td>
                                    {{this.ulogovanKorisnik.id}}
                                </td>
                            </tr>							
                            <tr>
                                <td>
                                    <strong>Ime</strong> 
                                </td>
                                <td>
                                    {{this.ulogovanKorisnik.ime}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Prezime</strong> 
                                </td>
                                <td>
                                    {{this.ulogovanKorisnik.prezime}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Adresa</strong> 
                                </td>
                                <td>
                                    {{this.ulogovanKorisnik.adresa}} , {{this.ulogovanKorisnik.grad}} , {{this.ulogovanKorisnik.drzava}}
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>
                                    <strong>Email</strong> 
                                </td>
                                <td>
                                    {{this.ulogovanKorisnik.email}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Kontakt telefon</strong> 
                                </td>
                                <td>
                                    {{this.ulogovanKorisnik.kontaktTelefon}}
                                </td>
                        </tbody>
                    </table>
                    <!--/row-->
                </div>
                
                <!-- Edit ne diraj!!-->
                <div class="tab-pane" id="edit">
                    <h4 class="m-y-2">Izmena profila</h4>
                    <form role="form" name = "izmenaForm" (ngSubmit) = "onSubmit()">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Ime</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" name ="ime" [(ngModel)] = "this.ulogovanKorisnik.ime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Prezime</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" name = "prezime" [(ngModel)] = "this.ulogovanKorisnik.prezime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="" name = "email" [(ngModel)] = "this.ulogovanKorisnik.email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Adresa</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value=""  name = "adresa" [(ngModel)] = "this.ulogovanKorisnik.adresa">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Grad</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" name = "grad" [(ngModel)] = "this.ulogovanKorisnik.grad">
                            </div>
                        </div><div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Drzava</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" name = "drzava" [(ngModel)] = "this.ulogovanKorisnik.drzava">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Kontakt telefon</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name = "kontaktTelefon" [(ngModel)] = "this.ulogovanKorisnik.kontaktTelefon">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Lozinka</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" id = "lozinka" name = "lozinka" (ngModel) = "this.ulogovanKorisnik.lozinka">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Potvrda lozinke</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" id = "lozinkaConfirm" name = "lozinkaConfirm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Odustani">
                                &nbsp;
                                <input type="submit" class="btn btn-primary" value="Potvrdi">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>