<div class="container">
  <form name="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal" role="form" [formGroup]="loginForm">
    <h2>Login</h2>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input formControlName="email" type="email" id="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" >
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email je obavezan</div>
          <div *ngIf="f.email.errors.email">Email mora biti validan email.</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Lozinka</label>
      <div class="col-sm-9">
        <input formControlName="lozinka" type="password" id="lozinka" placeholder="Lozinka" [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }" class="form-control">
        <div *ngIf="submitted && f.lozinka.errors" class="invalid-feedback">
          <div *ngIf="f.lozinka.errors.required">Lozinka je obavezna.</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <a routerLink="/register"> Nemate profil? Registrujte se.</a>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Uloguj se</button>
    <div class="alert alert-danger" role="alert" *ngIf="submitted && badLogIn">Email i lozinka se ne poklapaju!</div>

    
  </form>
</div>

