<title> Registracija klinike </title>

<div class="container">
  <h4 class="m-y-2">Registracija klinike</h4>
  <form role="form" name = "forma" (ngSubmit)="onSubmit()" [formGroup]="forma">
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Ime</label>
      <div class="col-lg-4">
        <input formControlName="ime" class="form-control" id = "ime" type="text">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Adresa</label>
      <div class="col-lg-4">
        <input class="form-control" type="text" formControlName= "adresa" id = "adresa" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Opis</label>
      <div class="col-lg-4" >
        <input style = "height:200px" class="form-control" type="text" formControlName = "opis" id = "opis">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Kontakt telefon</label>
      <div class="col-lg-4">
        <input class="form-control" type="text" formControlName = "kontaktTelefon" id = "kontaktTelefon">
      </div>
    </div>
    <!--
    <div class="col-lg-9">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22465.384066227!2d19.822745776201675!3d45.264513401084834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10613de93455%3A0xb6f7d683724fe28!2sNovi%20Sad!5e0!3m2!1sen!2srs!4v1576289943810!5m2!1sen!2srs" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    -->
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label"></label>
      <div class="col-lg-9">
        <input type="reset" class="btn btn-secondary" value="Odustani">
        &nbsp;
        <input type="submit" class="btn btn-primary" value="Potvrdi">
      </div>
    </div>
  </form>
</div>
