<div class="mat-elevation-z8 data-table">
  <span>
  <button mat-raised-button (click)="openDialog()">Dodaj salu</button>
  </span>
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Sale">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</th>
      <td mat-cell *matCellDef="let row">{{row.naziv}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <span style="margin: 10px">
          <button mat-raised-button color="accent" (click)="obrisi(row.id)">Obrisi</button>
        </span>
        <span style="margin: 10px">
          <button mat-raised-button  color="primary" (click)="izmeni(row)">Izmeni</button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator  #paginator
                 [length]="dataSource? dataSource.data.length : 0"
                 [pageIndex]="0"
                 [pageSize]="20"
                 [pageSizeOptions]="[20, 50, 100]">
  </mat-paginator>
</div>
