<div class="container">
  <h4> {{ime}} </h4>
  <div class="row m-y-2">
    <div class="col-lg-8 push-lg-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profil klinike</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Izmeni profil</a>
        </li>
      </ul>
      <div class="tab-content p-b-3">
        <div class="tab-pane active" id="profile">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5617.6758520985995!2d19.818151246721108!3d45.25107006087583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1037d516e5af%3A0xfaf7d601cf416b90!2sClinical%20Center%20of%20Vojvodina!5e0!3m2!1sen!2srs!4v1574387524523!5m2!1sen!2srs" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          <table class="table table-hover table-striped" >
            <tbody>
            <tr>
              <td>
                <strong>ID</strong>
              </td>
              <td>
                {{id}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>ADRESA</strong>
              </td>
              <td>
                adresa klinike
              </td>
            </tr>
            <tr>
              <td>
                <strong>OPIS</strong>
              </td>
              <td>
                {{opis}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>KONTAKT TELEFON</strong>
              </td>
              <td>
                {{kontaktTelefon}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Edit ne diraj!!-->
        <div class="tab-pane" id="edit">
          <h4 class="m-y-2">Izmena profila</h4>
          <form role="form">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5617.6758520985995!2d19.818151246721108!3d45.25107006087583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1574388399994!5m2!1sen!2srs" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Ime</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value={{ime}}>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Adresa</label>
              <div class="col-lg-7">
                <input class="form-control" type="text" value="" placeholder="Ulica">
              </div>
              <div class="col-lg-2">
                <input class="form-control" type="text" value="" placeholder="Broj">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-6">
                <input class="form-control" type="text" value="" placeholder= "Grad" >
              </div>
              <div class="col-lg-3">
                <input class="form-control" type="text" value="" placeholder = "Drzava">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Opis</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value = {{opis}} >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Kontakt telefon</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value = {{kontaktTelefon}} >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Odustani">
                &nbsp;
                <input type="button" class="btn btn-primary" value="Potvrdi">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
