<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Ime Column -->
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime</th>
      <td mat-cell *matCellDef="let row">{{row.ime}}</td>
    </ng-container>

    <!-- Adresa Column -->
    <ng-container matColumnDef="adresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresa</th>
      <td mat-cell *matCellDef="let row">{{row.adresa}}</td>
    </ng-container>

    <!-- Opis Column -->
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis</th>
      <td mat-cell *matCellDef="let row">{{row.opis}}</td>
    </ng-container>


    <ng-container matColumnDef="administratori">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Administratori klinike</th>
      <td mat-cell *matCellDef="let row">
        <mat-list dense *ngFor = "let admin of row.administratori">
          {{admin.ime}} {{admin.prezime}}
        </mat-list>
      </td>
    </ng-container>

    <!-- Pridruzivanje adminstratora klinike klinici -->
    <ng-container matColumnDef="akcije">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Akcije</th>
      <td mat-cell *matCellDef="let row"><button mat-raised-button (click) = "openDialogAddAministratorKlinike()">Dodaj administratora klinike</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
  <ng-container >
    <button mat-raised-button (click) = "openDialog()">Dodaj novu kliniku</button>
  </ng-container>

</div>
