<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'push' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="">Profil pacijenta</a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Zdravstveni karton</mat-panel-title>
          </mat-expansion-panel-header>
        <mat-nav-list>
        <a mat-list-item routerLink="pacijent-lista-dijagnoza">Spisak dijagnoza</a>
        <a mat-list-item>Istorija pregleda</a>
        <a mat-list-item routerLink="pacijent-istorija-operacija">Istorija operacija</a>
      </mat-nav-list>
      </mat-expansion-panel>
        <a mat-list-item routerLink="pacijent-lista-klinika">Klinike</a>
        <a mat-list-item>Zakazivanje pregleda</a>
        <a mat-list-item (click)="logout()" routerLink="">Odjava</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span><b>YouTube</b> klinika</span>
        <span class="spacer"></span>
        <a routerLink = ""
          mat-icon-button
          type = "button"
          (click)="logout()">
          <mat-icon aria-label="Logout">child_care</mat-icon>
        </a>
      </mat-toolbar>
      <div>
      <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  